.NavigationItem {
  margin-left: 10px;
}

.NavigationItem a {
  font-size: 20px;
  color: darkgreen;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  border-bottom: 2px solid darkgreen;
  color: darkgreen;
}
