.Button {
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.Button.Active {
  border: 1px solid darkblue;
  border-radius: 5px;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}

.Primary {
  color: blue;
}
