.Button {
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.Button.Active {
  border: 1px solid #000;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  background: #5c9210;
}

.Danger {
  background: #944317;
}

.Primary {
  background: blue;
}

.White {
  background: #fff;
}

.Black {
  background: #000;  
}

.LightRed {
  background: #ea5e3d;
}