.Auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}

.AuthForm {
  margin: 30px 0 0;
}

.SpinnerWithMargin {
  margin: 27px 0;
}